.git
.editorconfig
.DS_Store
.npmrc
.history
.turbo

*.crt
*.key
*.pem
*.pyc
.env
.env.voqaria-user
.env.gemma
.env.chatterbox
.env.production
.env.local

**/**/.eslintcache
.eslintcache

*.tar


tsconfig.tsbuildinfo
!jest.config.js

npm-debug.log
backup/*
coverage
dist/
dist-electron/
logs
node_modules/
tmp
**/generated/**

cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform

.venv/
*.bin
**/build/*
**/**/.eslintcache
